/*toggle check box*/

.htoptions_element_checkbox label {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.htoptions_element_checkbox input { 
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.htoptions_element_checkbox label::before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50px;
}

.htoptions_element_checkbox label::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 17px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.htoptions_element_checkbox input:checked + label::before {
  background-color: #2196F3;
}
.htoptions_element_checkbox input:checked + label::after{
  -webkit-transform: translateX(27px);
  -ms-transform: translateX(27px);
  transform: translateX(27px);
}
.img-container td{
  position: relative;
}
.wpsa-remove{
  position: absolute;
  top: 9px;
  left: 86px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

.htmedia_display img {
  margin-bottom: 5px;
}

.ht-click-call-person-info td .htmedia_display img {
  width: 70px;
  height: 70px;
}

.ht-click-call-icon td .htmedia_display img {
  width: 34px;
  height: 34px;
}

.ht-click-call-number-icon td .htmedia_display img {
  width: 15px;
  height: 15px;
}

.ht-click-call-flag-info td .htmedia_display img {
  width: 45px;
  height: 45px;
}

.quater-text{
  width: 80px;
}
